In [1]:
# Access Tokens for the s3 bucket

ACCESS_KEY = "AKIAY3PMFSEBRYA44HR5"
SECRET_KEY = "lxptdLYHudLcmAFNtgR4VZyv52ctqv8LYbpNyrCQ"
ENCODED_SECRET_KEY = SECRET_KEY.replace("/", "%2F")
AWS_BUCKET_NAME = "nyctaxitrips"
MOUNT_NAME = AWS_BUCKET_NAME

In [2]:
# Mounting the s3 bucket as a local filesystem. Run if not mounted

dbutils.fs.mount("s3a://%s:%s@%s" % (ACCESS_KEY, ENCODED_SECRET_KEY, AWS_BUCKET_NAME), "/mnt/%s" % MOUNT_NAME)

In [3]:
# Files inside the mounted folder
dbutils.fs.cp("/mnt/{}/".format(MOUNT_NAME), "/data/{}/".format(MOUNT_NAME), recurse = True)
display(dbutils.fs.ls("/data/{}/".format(MOUNT_NAME)))

path,name,size
dbfs:/data/nyctaxitrips/2009_dayly/,2009_dayly/,0
dbfs:/data/nyctaxitrips/data-payment_lookup-csv.csv,data-payment_lookup-csv.csv,31865
dbfs:/data/nyctaxitrips/data-sample_data-nyctaxi-trips-2009-json_corrigido.json,data-sample_data-nyctaxi-trips-2009-json_corrigido.json,433448373
dbfs:/data/nyctaxitrips/data-sample_data-nyctaxi-trips-2010-json_corrigido.json,data-sample_data-nyctaxi-trips-2010-json_corrigido.json,433448950
dbfs:/data/nyctaxitrips/data-sample_data-nyctaxi-trips-2011-json_corrigido.json,data-sample_data-nyctaxi-trips-2011-json_corrigido.json,433447956
dbfs:/data/nyctaxitrips/data-sample_data-nyctaxi-trips-2012-json_corrigido.json,data-sample_data-nyctaxi-trips-2012-json_corrigido.json,433448657
dbfs:/data/nyctaxitrips/data-vendor_lookup-csv.csv,data-vendor_lookup-csv.csv,517
dbfs:/data/nyctaxitrips/sorted-data-sample_data-nyctaxi-trips-2009-json_corrigido.json,sorted-data-sample_data-nyctaxi-trips-2009-json_corrigido.json,423649245

In [4]:
# Payments table

payments = spark.read.csv('/data/{}/data-payment_lookup-csv.csv'.format(MOUNT_NAME), header=True)
payments.createOrReplaceTempView("payments")
display(payments.select("*").limit(10))

A,B
payment_type,payment_lookup
Cas,Cash
CAS,Cash
Cre,Credit
CRE,Credit
No,No Charge
Dis,Dispute
Cash,Cash
CASH,Cash
Credit,Credit

In [5]:
# Vendors table

vendors = spark.read.csv('/data/{}/data-vendor_lookup-csv.csv'.format(MOUNT_NAME), header=True)
vendors.createOrReplaceTempView("vendors")
display(vendors.select("*"))

vendor_id,name,address,city,state,zip,country,contact,current
CMT,"Creative Mobile Technologies, LLC",950 4th Road Suite 78,Brooklyn,NY,11210,USA,contactCMT@gmail.com,Yes
VTS,VeriFone Inc,26 Summit St.,Flushing,NY,11354,USA,admin@vtstaxi.com,Yes
DDS,"Dependable Driver Service, Inc",8554 North Homestead St.,Bronx,NY,10472,USA,9778896500,Yes
TS,Total Solutions Co,Five Boroughs Taxi Co.,Brooklyn,NY,11229,USA,mgmt@5btc.com,Yes
MT,Mega Taxi,4 East Jennings St.,Brooklyn,NY,11228,USA,contact@megataxico.com,No

In [6]:
# Trips table and data type for each column

from pyspark.sql.types import *

schema = StructType([
	StructField("vendor_id", StringType()),
	StructField("pickup_datetime", TimestampType()),
	StructField("dropoff_datetime", TimestampType()),
	StructField("passenger_count", IntegerType()),
	StructField("trip_distance", DoubleType()),
	StructField("pickup_longitude", DoubleType()),
	StructField("pickup_latitude", DoubleType()),
	StructField("rate_code", DoubleType()),
	StructField("store_and_fwd_flag", StringType()),
	StructField("dropoff_longitude", DoubleType()),
	StructField("dropoff_latitude", DoubleType()),
	StructField("payment_type", StringType()),
	StructField("fare_amount", DoubleType()),
	StructField("surcharge", DoubleType()),
	StructField("tip_amount", DoubleType()),
	StructField("tolls_amount", DoubleType()),
	StructField("total_amount", DoubleType())
])

trips = spark.read.json('/data/{}/data-sample_*'.format(MOUNT_NAME), schema = schema)
trips.createOrReplaceTempView("trips")
display(trips.select("*").limit(10))

vendor_id,pickup_datetime,dropoff_datetime,passenger_count,trip_distance,pickup_longitude,pickup_latitude,rate_code,store_and_fwd_flag,dropoff_longitude,dropoff_latitude,payment_type,fare_amount,surcharge,tip_amount,tolls_amount,total_amount
CMT,2009-04-21T19:03:58.205+0000,2009-04-21T19:04:22.767+0000,2,0.8,-74.004114,40.74295,null,null,-73.994712,40.74795,Cash,5.4,0.0,0.0,0.0,5.4
CMT,2009-01-13T07:50:46.754+0000,2009-01-13T07:57:02.011+0000,1,5.4,-73.996506,40.747784,null,null,-73.940449,40.792385,Cash,15.4,0.0,0.0,0.0,15.4
VTS,2009-01-06T19:33:06.187+0000,2009-01-06T19:58:17.429+0000,5,1.67,-73.95134,40.75207,null,null,-73.944535,40.768108,CASH,6.1,1.0,0.0,0.0,7.1
VTS,2009-09-24T08:28:13.451+0000,2009-09-24T08:54:15.991+0000,1,4.13,-74.001117,40.729128,null,null,-73.958122,40.721812,CASH,12.9,0.5,0.0,0.0,13.4
VTS,2009-10-29T05:54:13.629+0000,2009-10-29T06:12:02.174+0000,1,2.03,-73.9766,40.756873,null,null,-73.979757,40.776075,CASH,7.7,0.5,0.0,0.0,8.2
VTS,2009-10-23T17:25:46.393+0000,2009-10-23T17:39:04.687+0000,1,1.15,-73.994665,40.750528,null,null,-73.978623,40.750478,CASH,6.5,0.0,0.0,0.0,6.5
VTS,2009-03-30T09:47:22.373+0000,2009-03-30T10:02:20.395+0000,1,8.61,-73.955462,40.772843,null,null,-73.870838,40.774042,CASH,22.1,0.0,0.0,4.15,26.25
VTS,2009-03-18T18:00:07.996+0000,2009-03-18T18:14:55.727+0000,5,0.84,-73.976158,40.757998,null,null,-73.985112,40.759317,Credit,5.7,0.0,2.0,0.0,7.7
VTS,2009-03-30T13:31:00.454+0000,2009-03-30T13:46:21.561+0000,2,1.04,-73.988585,40.764408,null,null,-73.975072,40.761585,CASH,6.1,0.0,0.0,0.0,6.1
VTS,2009-02-20T18:10:29.527+0000,2009-02-20T18:28:01.565+0000,5,0.75,-74.001978,40.740683,null,null,-73.993722,40.74733,CASH,3.7,0.0,0.0,0.0,3.7

In [7]:
# A summary of the trips table

display(trips.describe())

summary,vendor_id,passenger_count,trip_distance,pickup_longitude,pickup_latitude,rate_code,store_and_fwd_flag,dropoff_longitude,dropoff_latitude,payment_type,fare_amount,surcharge,tip_amount,tolls_amount,total_amount
count,4000000,4000000,4000000,4000000,4000000,0,248,4000000,4000000,4000000,4000000,4000000,4000000,4000000,4000000
mean,null,1.733573,2.6782093029999956,-72.83059548522309,40.12472651785755,null,0.0,-72.8480442019709,40.13499827750944,null,9.629420790000427,0.1619385,0.40854002000000234,0.12359449000001618,10.32686640000022
stddev,null,1.254535789499849,3.13060131927324,9.12239490789848,5.026361951567406,null,0.0,9.050543165477416,4.986513186631796,null,7.567478378872196,0.3083548215747962,1.2586321423263833,0.7616635980368894,8.50320798047934
min,CMT,0,0.0,-84.878351,-0.009262,null,0,-79.191394,-0.015202,CASH,2.5,0.0,0.0,0.0,2.5
max,VTS,6,49.92,0.004023,47.922847,null,0,0.008668,47.935812,No Charge,200.0,1.0,98.23,20.0,230.0

In [8]:
%sql

/*Average trip distance for trips with 2 passengers or less*/

SELECT format_number(avg(trip_distance), 2) as Distance 
FROM trips
WHERE passenger_count <= 2

Distance
2.66

In [9]:
%sql

/*Three greatest revenues from 2009 to 2012*/

SELECT first(name) as Company_Name, format_number(sum(total_amount), 2) as Revenue
FROM trips, vendors
WHERE trips.vendor_id = vendors.vendor_id
GROUP BY trips.vendor_id
ORDER BY sum(total_amount) DESC
LIMIT 3

Company_Name,Revenue
"Creative Mobile Technologies, LLC","19,549,084.28"
VeriFone Inc,"19,043,434.00"
"Dependable Driver Service, Inc","2,714,901.72"

In [10]:
def monthToName(n):
  return {
    1: "Jan", 2: "Fev", 3: "Mar", 4: "Apr", 5: "May", 6: "Jun", 
    7: "Jul", 8: "Aug", 9: "Sep", 10:"Oct", 11:"Nov", 12:"Dec"
  }[n]

spark.udf.register("monthToName", monthToName, StringType())

In [11]:
%sql

/*Quantity of trips per month along the 4 years*/

SELECT count(*) as Trips_per_Month, monthToName(month(dropoff_datetime)) as Month
FROM trips, payments
WHERE trips.payment_type = payments.A AND payments.B LIKE "Cash"
GROUP BY month(dropoff_datetime)
ORDER BY month(dropoff_datetime) ASC

Trips_per_Month,Month
269393,Jan
282936,Fev
309245,Mar
299624,Apr
310335,May
298893,Jun
310680,Jul
309674,Aug
300163,Sep
299036,Oct
205358,Nov
47515,Dec

In [12]:
%sql

/*Sum of tips per day of Aug, Sep and Oct of 2012*/

SELECT sum(tip_amount) as Tips_Per_Day, concat_ws('-','2012', concat_ws('-', month(dropoff_datetime), day(dropoff_datetime))) as Date
FROM trips
WHERE year(dropoff_datetime) = 2012 AND month(dropoff_datetime) IN (8,9,10)
GROUP BY month(dropoff_datetime), day(dropoff_datetime)
ORDER BY month(dropoff_datetime), day(dropoff_datetime) ASC

Tips_Per_Day,Date
1275.4400000000005,2012-8-1
1470.01,2012-8-2
1295.01,2012-8-3
1338.2500000000002,2012-8-4
1287.3299999999997,2012-8-5
1300.0800000000004,2012-8-6
1491.1100000000001,2012-8-7
1364.8600000000001,2012-8-8
1326.5599999999997,2012-8-9
1361.95,2012-8-10
1305.68,2012-8-11
1297.17,2012-8-12
1222.1200000000003,2012-8-13
1304.16,2012-8-14
1362.04,2012-8-15
1465.5400000000002,2012-8-16
1366.3200000000002,2012-8-17
1360.4899999999998,2012-8-18
1386.0800000000004,2012-8-19
1293.6499999999999,2012-8-20
1366.4400000000003,2012-8-21
1303.91,2012-8-22
1391.6999999999998,2012-8-23
1381.72,2012-8-24
1191.5800000000002,2012-8-25
1328.6600000000003,2012-8-26
1415.7699999999998,2012-8-27
1333.7899999999997,2012-8-28
1436.41,2012-8-29
1456.79,2012-8-30
1311.19,2012-8-31
1279.8,2012-9-1
1433.6400000000006,2012-9-2
1428.26,2012-9-3
1388.53,2012-9-4
1318.6200000000001,2012-9-5
1214.5100000000002,2012-9-6
1243.39,2012-9-7
1389.9099999999994,2012-9-8
1300.0700000000002,2012-9-9
1282.3700000000001,2012-9-10
1381.38,2012-9-11
1214.3200000000004,2012-9-12
1364.3200000000004,2012-9-13
1357.2800000000002,2012-9-14
1302.2199999999998,2012-9-15
1381.89,2012-9-16
1366.0,2012-9-17
1275.7400000000002,2012-9-18
1205.9,2012-9-19
1508.34,2012-9-20
1506.1299999999999,2012-9-21
1419.9300000000003,2012-9-22
1251.42,2012-9-23
1362.0900000000001,2012-9-24
1353.9000000000003,2012-9-25
1408.5200000000002,2012-9-26
1361.0299999999997,2012-9-27
1381.8499999999997,2012-9-28
1275.67,2012-9-29
1430.1899999999998,2012-9-30
1438.2900000000002,2012-10-1
1444.7400000000002,2012-10-2
1335.76,2012-10-3
1407.6699999999998,2012-10-4
1392.94,2012-10-5
1362.4499999999998,2012-10-6
1347.4699999999998,2012-10-7
1307.62,2012-10-8
1396.24,2012-10-9
1443.6599999999999,2012-10-10
1366.1399999999999,2012-10-11
1410.2200000000003,2012-10-12
1314.9999999999998,2012-10-13
1239.5000000000002,2012-10-14
1302.2200000000003,2012-10-15
1341.9700000000003,2012-10-16
1599.89,2012-10-17
1347.52,2012-10-18
1361.78,2012-10-19
1364.45,2012-10-20
1550.5399999999995,2012-10-21
1363.01,2012-10-22
1420.9699999999998,2012-10-23
1232.9700000000003,2012-10-24
1255.37,2012-10-25
1397.1000000000001,2012-10-26
1221.66,2012-10-27
16.27,2012-10-28

In [13]:
%sql

/*Average travel time on weekends in seconds*/

SELECT format_number(avg(unix_timestamp(dropoff_datetime) - unix_timestamp(pickup_datetime)), 2) as Time
FROM trips
WHERE dayofweek(dropoff_datetime) IN (1,7)

Time
524.88

In [14]:
from pyspark.sql.functions import *

# Reading dayly trips files as a stream of data and writing on a table

streamingInputDF = (
  spark
    .readStream                       
    .schema(schema)                   # Set the schema of the JSON data
    .option("maxFilesPerTrigger", 2)  # Treat a sequence of files as a stream by picking one file at a time
    .json("data/{}/2009_dayly/*/*.json".format(MOUNT_NAME))
)

streamingInputDF.createOrReplaceTempView("{}".format(MOUNT_NAME))

In [15]:
%sql

/* Grouping streamed data by payment type according payments table and by date to analyze the revenue */

SELECT 
  sum(total_amount) as revenue, 
  payments.B as payment_type, 
  concat_ws(', ', monthToName(month(dropoff_datetime)), dayofmonth(dropoff_datetime)) as date
FROM nyctaxitrips, payments
WHERE nyctaxitrips.payment_type = payments.A
GROUP BY payments.B, month(dropoff_datetime), dayofmonth(dropoff_datetime)
ORDER BY month(dropoff_datetime), dayofmonth(dropoff_datetime)

revenue,payment_type,date
23562.27000000001,Cash,"Jan, 4"
7551.389999999999,Credit,"Jan, 4"
23.97,Dispute,"Jan, 4"
76.05,No Charge,"Jan, 4"
25.3,Dispute,"Jan, 5"
71.2,No Charge,"Jan, 5"
7498.3600000000015,Credit,"Jan, 5"
22400.699999999997,Cash,"Jan, 5"
162.5,No Charge,"Jan, 6"
7.0,Dispute,"Jan, 6"
7911.340000000002,Credit,"Jan, 6"
23048.739999999983,Cash,"Jan, 6"
8052.7699999999995,Credit,"Jan, 7"
21902.700000000004,Cash,"Jan, 7"
127.6,No Charge,"Jan, 7"
32.5,Dispute,"Jan, 7"
22137.600000000035,Cash,"Jan, 8"
59.900000000000006,No Charge,"Jan, 8"
7904.259999999992,Credit,"Jan, 8"
18.2,Dispute,"Jan, 8"
21472.750000000015,Cash,"Jan, 9"
143.95,No Charge,"Jan, 9"
7720.77,Credit,"Jan, 9"
4.9,Dispute,"Jan, 9"
22089.000000000022,Cash,"Jan, 10"
7994.050000000005,Credit,"Jan, 10"
7.8,Dispute,"Jan, 10"
69.3,No Charge,"Jan, 10"
131.65,No Charge,"Jan, 11"
72.8,Dispute,"Jan, 11"
22644.349999999984,Cash,"Jan, 11"
8069.480000000005,Credit,"Jan, 11"
7800.149999999998,Credit,"Jan, 12"
156.9,No Charge,"Jan, 12"
11.5,Dispute,"Jan, 12"
21854.059999999998,Cash,"Jan, 12"
22386.469999999987,Cash,"Jan, 13"
7627.989999999997,Credit,"Jan, 13"
123.60000000000001,No Charge,"Jan, 13"
8.1,Dispute,"Jan, 14"
152.50000000000003,No Charge,"Jan, 14"
24032.830000000045,Cash,"Jan, 14"
8092.199999999997,Credit,"Jan, 14"
22124.150000000012,Cash,"Jan, 15"
69.19999999999999,No Charge,"Jan, 15"
3.0,Dispute,"Jan, 15"
7851.320000000004,Credit,"Jan, 15"
84.1,No Charge,"Jan, 16"
7557.540000000001,Credit,"Jan, 16"
14.1,Dispute,"Jan, 16"
22654.64999999997,Cash,"Jan, 16"
6923.390000000001,Credit,"Jan, 17"
137.8,No Charge,"Jan, 17"
20896.149999999998,Cash,"Jan, 17"
21965.800000000014,Cash,"Jan, 18"
5.0,Dispute,"Jan, 18"
7460.259999999996,Credit,"Jan, 18"
253.6,No Charge,"Jan, 18"
6775.66,Credit,"Jan, 19"
22786.64999999997,Cash,"Jan, 19"
20.3,Dispute,"Jan, 19"
90.5,No Charge,"Jan, 19"
7520.449999999996,Credit,"Jan, 20"
22483.95000000004,Cash,"Jan, 20"
47.8,No Charge,"Jan, 20"
23741.079999999933,Cash,"Jan, 21"
102.60000000000001,No Charge,"Jan, 21"
8069.5300000000025,Credit,"Jan, 21"
16.299999999999997,Dispute,"Jan, 21"
41.4,No Charge,"Jan, 22"
8126.26,Credit,"Jan, 22"
22770.240000000013,Cash,"Jan, 22"
101.5,No Charge,"Jan, 23"
8055.650000000006,Credit,"Jan, 23"
21618.30000000001,Cash,"Jan, 23"
45.0,Dispute,"Jan, 23"
22773.50000000001,Cash,"Jan, 24"
98.3,No Charge,"Jan, 24"
8845.650000000001,Credit,"Jan, 24"
8.2,Dispute,"Jan, 24"
130.85,No Charge,"Jan, 25"
21901.980000000007,Cash,"Jan, 25"
4.5,Dispute,"Jan, 25"
7532.339999999999,Credit,"Jan, 25"
96.6,No Charge,"Jan, 26"
25.700000000000003,Dispute,"Jan, 26"
8597.669999999998,Credit,"Jan, 26"
21783.84999999994,Cash,"Jan, 26"
25.2,No Charge,"Jan, 27"
22007.52000000004,Cash,"Jan, 27"
147.2,Dispute,"Jan, 27"
7854.719999999997,Credit,"Jan, 27"
7395.929999999997,Credit,"Jan, 28"
22067.329999999984,Cash,"Jan, 28"
70.8,No Charge,"Jan, 28"
7847.600000000002,Credit,"Jan, 29"
49.900000000000006,No Charge,"Jan, 29"
21820.780000000028,Cash,"Jan, 29"
11.0,Dispute,"Jan, 29"
50.8,No Charge,"Jan, 30"
7038.859999999998,Credit,"Jan, 30"
5.4,Dispute,"Jan, 30"
23365.679999999968,Cash,"Jan, 30"
8044.969999999999,Credit,"Jan, 31"
22660.000000000004,Cash,"Jan, 31"
187.93,No Charge,"Jan, 31"
7967.680000000004,Credit,"Oct, 1"
22238.450000000015,Cash,"Oct, 1"
9.3,Dispute,"Oct, 1"
40.0,No Charge,"Oct, 1"
8042.759999999997,Credit,"Oct, 10"
21702.749999999967,Cash,"Oct, 10"
132.4,No Charge,"Oct, 10"
3.4,Dispute,"Oct, 10"
8095.009999999996,Credit,"Oct, 11"
99.1,No Charge,"Oct, 11"
5.8,Dispute,"Oct, 11"
23704.200000000023,Cash,"Oct, 11"
22061.85000000001,Cash,"Oct, 12"
272.41,No Charge,"Oct, 12"
7755.709999999999,Credit,"Oct, 12"
52.4,Dispute,"Oct, 12"